{% extends 'base.html.twig' %}

{% block title %}Liste des Activités
{% endblock %}

{% block body %}
	<h1 class="my-5">Liste des activités</h1>
	{% if (is_granted('ROLE_ADMIN')) or (is_granted('ROLE_ANIMATEUR')) %}
	<a class="btn btn-success my-2" href="{{ path('activite_new') }}">Crée une nouvelle activité</a>
	{% endif %}
	<table class="table">
		<thead>
			<tr>
				<th>Animateur</th>
				<th>Nom</th>
				<th>Description</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for activite in activites %}
				<tr>
					<td>{{ activite.user.username}}</td>
					<td>{{ activite.Nom }}</td>
					<td>{{ activite.Description | raw }}</td>
					<td>
						<a class="btn btn-primary mb-2 w-100" href="{{ path('activite_show', {'id': activite.id}) }}">Voir</a>
						<a class="btn btn-primary mb-2 w-100" href="{{ path('activite_inscription', {'id': activite.id}) }}">Inscription à l'activité</a>
						{% if app.user %}
							{% if (is_granted('ROLE_ADMIN')) or (is_granted('ROLE_ANIMATEUR')) %}
							<a class="btn btn-warning w-100" href="{{ path('activite_edit', {'id': activite.id}) }}">Editer</a>
							{{ include('activite/_delete_form.html.twig') }}
							{% endif %}
						{% endif %}
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="4">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

{% endblock %}
