{% extends 'base.html.twig' %}

{% block title %}Activite
{% endblock %}

{% block body %}
	<h1 class="my-5">Activite {{activite.Nom}}</h1>
	<table class="table">
		<tbody>
			<tr>
				<th>Nom</th>
				<td>{{ activite.Nom }}</td>
			</tr>
			<tr>
				<th>Description</th>
				<td>{{ activite.Description }}</td>
			</tr>
		</tbody>
	</table>

	<a class="btn btn-info"href="{{path('activite_index')}}">Retour aux activites</a>

{% if app.user %}
	{% if (is_granted('ROLE_ANIMATEUR')) or (is_granted('ROLE_ADMIN')) %}
    <a button type="button" class="btn btn-warning" href="{{ path('activite_edit', {'id': activite.id}) }}">Edition</button></a>
	{% endif %}
    <a button type="button" class="btn btn-primary" href="{{ path('activite_inscription', {'id': activite.id}) }}">Inscription</button></a>
    <a button type="button" class="btn btn-danger"href="{{ path('activite_desinscription', {'id': activite.id}) }}">Désinscription</button></a>
{% endif %}

<section class="mt-3" id="inscription">
	<h4>{{ activite.userInscrit | length}}
		inscrits</h4>
	<ul class="list-group">
		{% for user in activite.userInscrit %}
			<div class="inscription">

				<div class="row">
					<li class="list-group-item">
						{{user.username}}
						est inscrit !
					</li>
				</div>
			</div>
		{% endfor %}
	</ul>
</section>

{% if (is_granted('ROLE_ANIMATEUR')) or (is_granted('ROLE_ADMIN'))%}
{{ include('activite/_delete_form.html.twig') }}
{% endif %}
{% endblock %}
