<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link
		rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
		{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>
	<body>

		<nav class="navbar navbar-expand-lg navbar-primary bg-primary">
			<a class="navbar-brand text-light mx-4" href="#">CC33</a>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<a class="nav-link text-light" href="{{path("activite_index")}}">Activites</a>
					</li>

					{% if app.user %}
						<li class="nav-item	">
							<a class="nav-link text-light" href="{{path('activite_mesactivites', {'id': app.user.id | default('0') })}}">Mes Inscriptions</a>
						</li>

						{% if (is_granted('ROLE_ADMIN')) or (is_granted('ROLE_ANIMATEUR')) %}
						<li class="nav-item">
							<a class="nav-link text-light" href="{{path("activite_new")}}">Créer une activité</a>
						</li>
						{% endif %}

						{% if (is_granted('ROLE_ADMIN'))%}
							<li class="nav-item">
								<a class="nav-link text-light" href="{{path("user_index")}}">Gérer les Animateurs</a>
							</li>
						{% endif %}

					{% endif %}
				</ul>
			</div>

			{% if not app.user %}
				<div class="d-flex">
					<a class="nav-link text-light" href="{{path("app_login")}}">Se connecter</a>
					<a class="nav-link text-light" href="{{path("app_register")}}">Inscription</a>
				</div>
			{% else %}
				<a class="nav-link text-light mx-4" href="{{path("app_logout")}}">Deconnexion</a>
			{% endif %}


		</nav>

		<div class="container"> {% block body %}{% endblock %}
			</div>
		</body>
	</html>
</body></html></body></html></body></html>
