{% extends 'base.html.twig' %}

{% block title %}Liste Animateurs{% endblock %}

{% block body %}
    <h1 class="my-5">Liste des Users</h1>
        <a class="btn btn-success mb-2" href="{{ path('user_new') }}">Créer Utilisateur</a>
    <table class="table">
        <thead>
            <tr>
                <th>Username</th>
                <th>Roles</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.username }}</td>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                <td>{{ user.nom }}</td>
                <td>{{ user.prenom }}</td>
                <td>
                    <a class="btn btn-primary mb-2 w-100" href="{{ path('user_show', {'id': user.id}) }}">Voir</a>
                    <a class="btn btn-warning mb-2 w-100" href="{{ path('user_edit', {'id': user.id}) }}">Editer</a>
                    {{ include('user/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
